
.navbar-inverse {
    background-color:#0079d1 !important;
    border:none !important;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #5d5d5d;
    background-color: #fff;
}