@font-face {
  font-family: 'kharazmi';
  font-weight:normal;
  src: url('IRANKharazmi.eot') format('eot'),
       url('IRANKharazmi.ttf') format('truetype'),
       url('IRANKharazmi.woff') format('woff');
}
