@font-face {
  font-family: tanha_fd;
  src: url('Tanha-FD.eot');
  src: url('Tanha-FD.eot?#iefix') format('embedded-opentype'),
       url('Tanha-FD.woff') format('woff'),
       url('Tanha-FD.ttf') format('truetype');
  font-weight: normal;
}
